<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<div class="rz-mt-4">
    <h3>Getting Started</h3>
    <p>Select an item from the navigation menu to open a new tab.</p>
    <ul>
        <li>Each tab has its own isolated data context</li>
        <li>Changes in one tab don't affect other tabs</li>
        <li>Unsaved changes are indicated with an asterisk (*)</li>
        <li>You'll be prompted before closing a tab with unsaved changes</li>
    </ul>
</div>
