@using ViewModel.Persons
@using ViewBlazor.Components.Commons.Fields
@inherits ViewModelComponentBase<PersonViewModel>

<div class="card">
    <div class="card-header">
        <h5>Person Details</h5>
    </div>
    <div class="card-body">
        <AutoFormView ViewModel="@ViewModel" />
    </div>
</div>

@code {
    // ViewModel is inherited from ViewModelComponentBase<PersonViewModel>
}
