@inherits LayoutComponentBase
@using ViewModel
@using ViewBlazor.Components.Tabs
@using System.ComponentModel
@implements IDisposable
@inject MainWindowViewModel MainWindowViewModel

<PageTitle>ViewBlazor</PageTitle>
<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu ViewModel="@MainWindowViewModel" />
    </div>

    <main>
        <article class="content px-4">
            <TabBar ViewModel="@MainWindowViewModel" />
        </article>
    </main>
</div>

<RadzenComponents />

@code {
    protected override void OnInitialized()
    {
        MainWindowViewModel.PropertyChanged += OnViewModelPropertyChanged;
    }

    private void OnViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        MainWindowViewModel.PropertyChanged -= OnViewModelPropertyChanged;
    }
}
