@using ViewModel

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)" @onclick="@(() => ViewModel.ActivateHome())">ViewBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link @(ViewModel.IsHomeActive ? "active" : "")"
               href="javascript:void(0)"
               @onclick="@(() => ViewModel.ActivateHome())">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link"
               href="javascript:void(0)"
               @onclick="CreatePersonsTab">
                <span class="oi oi-people" aria-hidden="true"></span> Persons
            </a>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public MainWindowViewModel ViewModel { get; set; } = null!;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CreatePersonsTab()
    {
        ViewModel.CreateTab<PersonListViewModel>();
    }
}
